DASHSCOPE_API_KEY=sk-xxx
PG_USER=rag
PG_PASSWORD=rag123456
QDRANT_SCORE_THRESHOLD=0.20
RAG_QUERY_REWRITE_ENABLED=true
RAG_RERANK_ENABLED=true
RAG_MAX_REWRITES=3
RAG_DENSE_LIMIT=40
RAG_KEYWORD_LIMIT=40
RAG_CANDIDATE_LIMIT=40
RAG_CONTEXT_LIMIT=8
RAG_RRF_CONSTANT=60
