--
-- PostgreSQL database dump
--

\restrict 327v1mpTAqHzIFJq7BLASA9Uk5zeQ9oYnPtBjVd8AFPubEDVRoc7YQKhcY3DulI

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    user_id bigint,
    username character varying(64),
    action character varying(64) NOT NULL,
    module character varying(32),
    object_type character varying(32),
    object_id bigint,
    detail jsonb,
    ip character varying(64),
    user_agent character varying(255),
    result smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE audit_log; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.audit_log IS '操作审计日志';


--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: kb_chat_message; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_chat_message (
    id bigint NOT NULL,
    conversation_id bigint NOT NULL,
    sequence_no integer NOT NULL,
    role character varying(16) NOT NULL,
    content text DEFAULT ''::text NOT NULL,
    status character varying(16) DEFAULT 'PENDING'::character varying NOT NULL,
    source_kb_ids bigint[],
    retrieved_chunk_ids bigint[],
    model_name character varying(64),
    latency_ms integer,
    error_message character varying(500),
    qa_record_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    CONSTRAINT ck_chat_message_role CHECK (((role)::text = ANY ((ARRAY['USER'::character varying, 'ASSISTANT'::character varying, 'SYSTEM'::character varying])::text[]))),
    CONSTRAINT ck_chat_message_status CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'STREAMING'::character varying, 'COMPLETED'::character varying, 'FAILED'::character varying, 'CANCELLED'::character varying])::text[])))
);


--
-- Name: kb_chat_message_citation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_chat_message_citation (
    id bigint NOT NULL,
    message_id bigint NOT NULL,
    chunk_id bigint,
    doc_id bigint,
    kb_id bigint,
    file_name character varying(255) NOT NULL,
    page_no integer,
    snippet text NOT NULL,
    rank_no integer NOT NULL,
    score double precision,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: kb_chat_message_citation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_chat_message_citation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_chat_message_citation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_chat_message_citation_id_seq OWNED BY public.kb_chat_message_citation.id;


--
-- Name: kb_chat_message_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_chat_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_chat_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_chat_message_id_seq OWNED BY public.kb_chat_message.id;


--
-- Name: kb_chunk; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_chunk (
    id bigint NOT NULL,
    doc_id bigint NOT NULL,
    kb_id bigint NOT NULL,
    seq integer NOT NULL,
    content text NOT NULL,
    page_no integer,
    token_count integer,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    embedding_id character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE kb_chunk; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_chunk IS '文档分块';


--
-- Name: kb_chunk_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_chunk_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_chunk_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_chunk_id_seq OWNED BY public.kb_chunk.id;


--
-- Name: kb_conversation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_conversation (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    title character varying(120) DEFAULT '新会话'::character varying NOT NULL,
    selected_kb_ids bigint[],
    last_message_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    legacy_qa_record_id bigint
);


--
-- Name: kb_conversation_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_conversation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_conversation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_conversation_id_seq OWNED BY public.kb_conversation.id;


--
-- Name: kb_document; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_document (
    id bigint NOT NULL,
    kb_id bigint NOT NULL,
    file_name character varying(255) NOT NULL,
    file_type character varying(32),
    file_size bigint DEFAULT 0 NOT NULL,
    object_key character varying(512),
    version integer DEFAULT 1 NOT NULL,
    parse_status character varying(16) DEFAULT 'PENDING'::character varying NOT NULL,
    chunk_status character varying(16) DEFAULT 'PENDING'::character varying NOT NULL,
    chunk_count integer DEFAULT 0 NOT NULL,
    error_msg text,
    uploader_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted boolean DEFAULT false NOT NULL
);


--
-- Name: TABLE kb_document; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_document IS '知识库文档（版本管理：更新文档=新记录，旧记录保留历史）';


--
-- Name: kb_document_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_document_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_document_id_seq OWNED BY public.kb_document.id;


--
-- Name: kb_feedback; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_feedback (
    id bigint NOT NULL,
    qa_record_id bigint NOT NULL,
    user_id bigint NOT NULL,
    rating smallint NOT NULL,
    comment text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE kb_feedback; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_feedback IS '问答反馈';


--
-- Name: kb_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_feedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_feedback_id_seq OWNED BY public.kb_feedback.id;


--
-- Name: kb_knowledge_base; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_knowledge_base (
    id bigint NOT NULL,
    name character varying(128) NOT NULL,
    description text,
    category character varying(64),
    visibility character varying(16) DEFAULT 'DEPT'::character varying NOT NULL,
    owner_id bigint NOT NULL,
    dept_id bigint,
    chunk_size integer DEFAULT 512 NOT NULL,
    chunk_overlap integer DEFAULT 64 NOT NULL,
    embedding_model character varying(64) DEFAULT 'bge-m3'::character varying NOT NULL,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted boolean DEFAULT false NOT NULL
);


--
-- Name: TABLE kb_knowledge_base; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_knowledge_base IS '知识库';


--
-- Name: COLUMN kb_knowledge_base.visibility; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.kb_knowledge_base.visibility IS '可见范围：PRIVATE仅自己 / DEPT本部门 / ORG全公司 / PUBLIC公开';


--
-- Name: kb_knowledge_base_dept; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_knowledge_base_dept (
    kb_id bigint NOT NULL,
    dept_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE kb_knowledge_base_dept; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_knowledge_base_dept IS '知识库允许访问部门关联';


--
-- Name: kb_knowledge_base_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_knowledge_base_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_knowledge_base_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_knowledge_base_id_seq OWNED BY public.kb_knowledge_base.id;


--
-- Name: kb_qa_record; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_qa_record (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    kb_ids bigint[],
    question text NOT NULL,
    answer text,
    retrieved_chunk_ids bigint[],
    rerank_scores jsonb,
    model_name character varying(64),
    prompt_version character varying(32),
    total_tokens integer,
    latency_ms integer,
    feedback smallint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    conversation_id bigint,
    assistant_message_id bigint
);


--
-- Name: TABLE kb_qa_record; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.kb_qa_record IS 'RAG 问答记录（含检索与生成全链路留痕）';


--
-- Name: kb_qa_record_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_qa_record_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_qa_record_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_qa_record_id_seq OWNED BY public.kb_qa_record.id;


--
-- Name: kb_retrieval_eval_case; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kb_retrieval_eval_case (
    id bigint NOT NULL,
    question text NOT NULL,
    expected_chunk_ids bigint[] DEFAULT '{}'::bigint[] NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    note character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: kb_retrieval_eval_case_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.kb_retrieval_eval_case_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: kb_retrieval_eval_case_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.kb_retrieval_eval_case_id_seq OWNED BY public.kb_retrieval_eval_case.id;


--
-- Name: sys_dept; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_dept (
    id bigint NOT NULL,
    parent_id bigint DEFAULT 0 NOT NULL,
    name character varying(64) NOT NULL,
    ancestors character varying(512) DEFAULT ''::character varying NOT NULL,
    sort integer DEFAULT 0 NOT NULL,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE sys_dept; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sys_dept IS '部门表';


--
-- Name: COLUMN sys_dept.ancestors; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.sys_dept.ancestors IS '祖先部门ID链，逗号分隔，用于权限继承与子树查询';


--
-- Name: sys_dept_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sys_dept_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sys_dept_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sys_dept_id_seq OWNED BY public.sys_dept.id;


--
-- Name: sys_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_permission (
    id bigint NOT NULL,
    parent_id bigint DEFAULT 0 NOT NULL,
    name character varying(64) NOT NULL,
    perms character varying(128),
    type smallint DEFAULT 1 NOT NULL,
    path character varying(255),
    sort integer DEFAULT 0 NOT NULL,
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE sys_permission; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sys_permission IS '权限表';


--
-- Name: sys_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sys_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sys_permission_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sys_permission_id_seq OWNED BY public.sys_permission.id;


--
-- Name: sys_role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_role (
    id bigint NOT NULL,
    code character varying(64) NOT NULL,
    name character varying(64) NOT NULL,
    remark character varying(255),
    status smallint DEFAULT 1 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: TABLE sys_role; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sys_role IS '角色表';


--
-- Name: sys_role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sys_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sys_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sys_role_id_seq OWNED BY public.sys_role.id;


--
-- Name: sys_role_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_role_permission (
    role_id bigint NOT NULL,
    permission_id bigint NOT NULL
);


--
-- Name: sys_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_user (
    id bigint NOT NULL,
    employee_no character varying(32) NOT NULL,
    username character varying(64) NOT NULL,
    password_hash character varying(128) NOT NULL,
    real_name character varying(64) NOT NULL,
    email character varying(128),
    phone character varying(32),
    dept_id bigint,
    avatar character varying(255),
    status smallint DEFAULT 1 NOT NULL,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted boolean DEFAULT false NOT NULL
);


--
-- Name: TABLE sys_user; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.sys_user IS '系统用户（员工账号）';


--
-- Name: sys_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.sys_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: sys_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.sys_user_id_seq OWNED BY public.sys_user.id;


--
-- Name: sys_user_role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sys_user_role (
    user_id bigint NOT NULL,
    role_id bigint NOT NULL
);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: kb_chat_message id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message ALTER COLUMN id SET DEFAULT nextval('public.kb_chat_message_id_seq'::regclass);


--
-- Name: kb_chat_message_citation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message_citation ALTER COLUMN id SET DEFAULT nextval('public.kb_chat_message_citation_id_seq'::regclass);


--
-- Name: kb_chunk id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chunk ALTER COLUMN id SET DEFAULT nextval('public.kb_chunk_id_seq'::regclass);


--
-- Name: kb_conversation id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_conversation ALTER COLUMN id SET DEFAULT nextval('public.kb_conversation_id_seq'::regclass);


--
-- Name: kb_document id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_document ALTER COLUMN id SET DEFAULT nextval('public.kb_document_id_seq'::regclass);


--
-- Name: kb_feedback id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_feedback ALTER COLUMN id SET DEFAULT nextval('public.kb_feedback_id_seq'::regclass);


--
-- Name: kb_knowledge_base id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base ALTER COLUMN id SET DEFAULT nextval('public.kb_knowledge_base_id_seq'::regclass);


--
-- Name: kb_qa_record id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_qa_record ALTER COLUMN id SET DEFAULT nextval('public.kb_qa_record_id_seq'::regclass);


--
-- Name: kb_retrieval_eval_case id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_retrieval_eval_case ALTER COLUMN id SET DEFAULT nextval('public.kb_retrieval_eval_case_id_seq'::regclass);


--
-- Name: sys_dept id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_dept ALTER COLUMN id SET DEFAULT nextval('public.sys_dept_id_seq'::regclass);


--
-- Name: sys_permission id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_permission ALTER COLUMN id SET DEFAULT nextval('public.sys_permission_id_seq'::regclass);


--
-- Name: sys_role id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_role ALTER COLUMN id SET DEFAULT nextval('public.sys_role_id_seq'::regclass);


--
-- Name: sys_user id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_user ALTER COLUMN id SET DEFAULT nextval('public.sys_user_id_seq'::regclass);


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_log (id, user_id, username, action, module, object_type, object_id, detail, ip, user_agent, result, created_at) FROM stdin;
1	1	管理员	LOGIN	系统管理	\N	\N	{"message": "网页登录"}	\N	\N	1	2026-09-01 12:12:00.233478+00
2	2	董志强	DOC_UPLOAD	知识库	\N	\N	{"file": "设计规范v2.3.pdf"}	\N	\N	1	2026-09-01 12:12:00.233478+00
3	3	喻春意	QA_ASK	智能问答	\N	\N	{"question": "产品发布流程"}	\N	\N	1	2026-09-01 12:12:00.233478+00
4	4	孙可平	DOC_DELETE	知识库	\N	\N	{"documentId": 182}	\N	\N	0	2026-09-01 12:12:00.233478+00
\.


--
-- Data for Name: kb_chat_message; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: kb_chat_message_citation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_chat_message_citation (id, message_id, chunk_id, doc_id, kb_id, file_name, page_no, snippet, rank_no, score, created_at) FROM stdin;
\.


--
-- Data for Name: kb_chunk; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_chunk (id, doc_id, kb_id, seq, content, page_no, token_count, metadata, embedding_id, created_at) FROM stdin;
\.


--
-- Data for Name: kb_conversation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_conversation (id, user_id, title, selected_kb_ids, last_message_at, created_at, updated_at, deleted_at, legacy_qa_record_id) FROM stdin;
1	1	上班时间	{4,3,2,1}	2026-09-01 12:15:19.117058+00	2026-09-01 12:14:24.889701+00	2026-09-01 12:15:19.117058+00	\N	\N
2	1	今年的年假规则是什么？	{4,3,2,1}	2026-09-01 12:16:43.891304+00	2026-09-01 12:16:43.475524+00	2026-09-01 12:16:43.891304+00	\N	\N
3	1	上班时间	{4,3,2,1}	2026-09-02 03:50:45.432823+00	2026-09-02 03:50:44.069693+00	2026-09-02 03:50:45.432823+00	\N	\N
\.


--
-- Data for Name: kb_document; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_document (id, kb_id, file_name, file_type, file_size, object_key, version, parse_status, chunk_status, chunk_count, error_msg, uploader_id, created_at, updated_at, deleted) FROM stdin;
2	2	新员工入职指引.pdf	pdf	251136	5721797a-5e9b-44bc-82c4-e76d5d7aa92a-新员工入职指引.pdf	1	FAILED	FAILED	0	422 Unprocessable Entity: "{"detail":"document parsing failed"}"	1	2026-09-02 05:33:26.044114+00	2026-09-02 06:16:24.815292+00	f
\.


--
-- Data for Name: kb_feedback; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_feedback (id, qa_record_id, user_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: kb_knowledge_base; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: kb_knowledge_base_dept; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_knowledge_base_dept (kb_id, dept_id, created_at) FROM stdin;
1	4	2026-09-01 12:12:01.682812+00
\.


--
-- Data for Name: kb_qa_record; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_qa_record (id, user_id, kb_ids, question, answer, retrieved_chunk_ids, rerank_scores, model_name, prompt_version, total_tokens, latency_ms, feedback, created_at, conversation_id, assistant_message_id) FROM stdin;
\.


--
-- Data for Name: kb_retrieval_eval_case; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.kb_retrieval_eval_case (id, question, expected_chunk_ids, enabled, note, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sys_dept; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sys_dept (id, parent_id, name, ancestors, sort, status, created_at) FROM stdin;
1	0	总经办	0,	10	1	2026-09-01 12:08:03.420651+00
2	0	技术支持中心	0,	20	1	2026-09-01 12:08:03.420651+00
3	0	营销中心	0,	30	1	2026-09-01 12:08:03.420651+00
4	0	研发中心	0,	40	1	2026-09-01 12:08:03.420651+00
5	0	制造中心	0,	50	1	2026-09-01 12:08:03.420651+00
6	0	海外销售部	0,	60	1	2026-09-01 12:08:03.420651+00
7	0	职能中心	0,	70	1	2026-09-01 12:08:03.420651+00
8	0	工艺品质中心	0,	80	1	2026-09-01 12:08:03.420651+00
9	0	行政中心	0,	0	1	2026-09-01 12:12:00.196076+00
\.


--
-- Data for Name: sys_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sys_role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sys_role (id, code, name, remark, status, created_at) FROM stdin;
1	ROLE_ADMIN	系统管理员	\N	1	2026-09-01 12:12:00.216396+00
2	ROLE_KB_MANAGER	知识库管理员	\N	1	2026-09-01 12:12:00.216396+00
3	ROLE_EMPLOYEE	普通员工	\N	1	2026-09-01 12:12:00.216396+00
\.


--
-- Data for Name: sys_role_permission; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sys_role_permission (role_id, permission_id) FROM stdin;
1	1
1	2
1	3
1	4
1	6
1	7
1	8
1	9
1	5
2	1
2	2
2	3
3	1
3	2
3	3
\.


--
-- Data for Name: sys_user; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: sys_user_role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.sys_user_role (user_id, role_id) FROM stdin;
1	1
2	2
3	3
4	3
\.


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 4, true);


--
-- Name: kb_chat_message_citation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_chat_message_citation_id_seq', 1, false);


--
-- Name: kb_chat_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_chat_message_id_seq', 8, true);


--
-- Name: kb_chunk_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_chunk_id_seq', 1, false);


--
-- Name: kb_conversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_conversation_id_seq', 3, true);


--
-- Name: kb_document_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_document_id_seq', 2, true);


--
-- Name: kb_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_feedback_id_seq', 1, false);


--
-- Name: kb_knowledge_base_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_knowledge_base_id_seq', 4, true);


--
-- Name: kb_qa_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_qa_record_id_seq', 1, false);


--
-- Name: kb_retrieval_eval_case_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.kb_retrieval_eval_case_id_seq', 1, false);


--
-- Name: sys_dept_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sys_dept_id_seq', 9, true);


--
-- Name: sys_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sys_permission_id_seq', 9, true);


--
-- Name: sys_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sys_role_id_seq', 3, true);


--
-- Name: sys_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.sys_user_id_seq', 4, true);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: kb_chat_message_citation kb_chat_message_citation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message_citation
    ADD CONSTRAINT kb_chat_message_citation_pkey PRIMARY KEY (id);


--
-- Name: kb_chat_message kb_chat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message
    ADD CONSTRAINT kb_chat_message_pkey PRIMARY KEY (id);


--
-- Name: kb_chat_message kb_chat_message_qa_record_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message
    ADD CONSTRAINT kb_chat_message_qa_record_id_key UNIQUE (qa_record_id);


--
-- Name: kb_chunk kb_chunk_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chunk
    ADD CONSTRAINT kb_chunk_pkey PRIMARY KEY (id);


--
-- Name: kb_conversation kb_conversation_legacy_qa_record_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_conversation
    ADD CONSTRAINT kb_conversation_legacy_qa_record_id_key UNIQUE (legacy_qa_record_id);


--
-- Name: kb_conversation kb_conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_conversation
    ADD CONSTRAINT kb_conversation_pkey PRIMARY KEY (id);


--
-- Name: kb_document kb_document_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_document
    ADD CONSTRAINT kb_document_pkey PRIMARY KEY (id);


--
-- Name: kb_feedback kb_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_feedback
    ADD CONSTRAINT kb_feedback_pkey PRIMARY KEY (id);


--
-- Name: kb_knowledge_base_dept kb_knowledge_base_dept_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base_dept
    ADD CONSTRAINT kb_knowledge_base_dept_pkey PRIMARY KEY (kb_id, dept_id);


--
-- Name: kb_knowledge_base kb_knowledge_base_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base
    ADD CONSTRAINT kb_knowledge_base_pkey PRIMARY KEY (id);


--
-- Name: kb_qa_record kb_qa_record_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_qa_record
    ADD CONSTRAINT kb_qa_record_pkey PRIMARY KEY (id);


--
-- Name: kb_retrieval_eval_case kb_retrieval_eval_case_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_retrieval_eval_case
    ADD CONSTRAINT kb_retrieval_eval_case_pkey PRIMARY KEY (id);


--
-- Name: sys_dept sys_dept_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_dept
    ADD CONSTRAINT sys_dept_pkey PRIMARY KEY (id);


--
-- Name: sys_permission sys_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_permission
    ADD CONSTRAINT sys_permission_pkey PRIMARY KEY (id);


--
-- Name: sys_role_permission sys_role_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_role_permission
    ADD CONSTRAINT sys_role_permission_pkey PRIMARY KEY (role_id, permission_id);


--
-- Name: sys_role sys_role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_role
    ADD CONSTRAINT sys_role_pkey PRIMARY KEY (id);


--
-- Name: sys_user sys_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_user
    ADD CONSTRAINT sys_user_pkey PRIMARY KEY (id);


--
-- Name: sys_user_role sys_user_role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_user_role
    ADD CONSTRAINT sys_user_role_pkey PRIMARY KEY (user_id, role_id);


--
-- Name: kb_chat_message_citation uk_chat_message_citation_rank; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message_citation
    ADD CONSTRAINT uk_chat_message_citation_rank UNIQUE (message_id, rank_no);


--
-- Name: kb_chat_message uk_chat_message_sequence; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message
    ADD CONSTRAINT uk_chat_message_sequence UNIQUE (conversation_id, sequence_no);


--
-- Name: kb_chunk uk_chunk_doc_seq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chunk
    ADD CONSTRAINT uk_chunk_doc_seq UNIQUE (doc_id, seq);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_action ON public.audit_log USING btree (action);


--
-- Name: idx_audit_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_time ON public.audit_log USING btree (created_at DESC);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_user ON public.audit_log USING btree (user_id);


--
-- Name: idx_chat_citation_message; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_citation_message ON public.kb_chat_message_citation USING btree (message_id, rank_no);


--
-- Name: idx_chat_message_conversation; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chat_message_conversation ON public.kb_chat_message USING btree (conversation_id, sequence_no DESC);


--
-- Name: idx_chunk_doc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chunk_doc ON public.kb_chunk USING btree (doc_id);


--
-- Name: idx_chunk_kb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_chunk_kb ON public.kb_chunk USING btree (kb_id);


--
-- Name: idx_conversation_user_updated; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_conversation_user_updated ON public.kb_conversation USING btree (user_id, last_message_at DESC, id DESC) WHERE (deleted_at IS NULL);


--
-- Name: idx_dept_parent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dept_parent ON public.sys_dept USING btree (parent_id);


--
-- Name: idx_doc_chunk; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_doc_chunk ON public.kb_document USING btree (chunk_status);


--
-- Name: idx_doc_kb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_doc_kb ON public.kb_document USING btree (kb_id) WHERE (deleted = false);


--
-- Name: idx_doc_parse; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_doc_parse ON public.kb_document USING btree (parse_status);


--
-- Name: idx_kb_dept; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kb_dept ON public.kb_knowledge_base USING btree (dept_id) WHERE (deleted = false);


--
-- Name: idx_kb_dept_dept; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kb_dept_dept ON public.kb_knowledge_base_dept USING btree (dept_id);


--
-- Name: idx_kb_owner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kb_owner ON public.kb_knowledge_base USING btree (owner_id) WHERE (deleted = false);


--
-- Name: idx_qa_conversation_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_qa_conversation_time ON public.kb_qa_record USING btree (conversation_id, created_at DESC) WHERE (conversation_id IS NOT NULL);


--
-- Name: idx_qa_user_time; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_qa_user_time ON public.kb_qa_record USING btree (user_id, created_at DESC);


--
-- Name: idx_retrieval_eval_enabled; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_retrieval_eval_enabled ON public.kb_retrieval_eval_case USING btree (enabled, id);


--
-- Name: idx_user_dept; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_dept ON public.sys_user USING btree (dept_id) WHERE (deleted = false);


--
-- Name: uk_feedback_qa; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_feedback_qa ON public.kb_feedback USING btree (qa_record_id);


--
-- Name: uk_permission_perms; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_permission_perms ON public.sys_permission USING btree (perms) WHERE (perms IS NOT NULL);


--
-- Name: uk_role_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_role_code ON public.sys_role USING btree (code);


--
-- Name: uk_user_empno; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_user_empno ON public.sys_user USING btree (employee_no) WHERE (deleted = false);


--
-- Name: uk_user_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uk_user_username ON public.sys_user USING btree (username) WHERE (deleted = false);


--
-- Name: kb_chat_message_citation kb_chat_message_citation_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message_citation
    ADD CONSTRAINT kb_chat_message_citation_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.kb_chat_message(id) ON DELETE CASCADE;


--
-- Name: kb_chat_message kb_chat_message_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message
    ADD CONSTRAINT kb_chat_message_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.kb_conversation(id) ON DELETE CASCADE;


--
-- Name: kb_chat_message kb_chat_message_qa_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chat_message
    ADD CONSTRAINT kb_chat_message_qa_record_id_fkey FOREIGN KEY (qa_record_id) REFERENCES public.kb_qa_record(id) ON DELETE SET NULL;


--
-- Name: kb_chunk kb_chunk_doc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_chunk
    ADD CONSTRAINT kb_chunk_doc_id_fkey FOREIGN KEY (doc_id) REFERENCES public.kb_document(id);


--
-- Name: kb_conversation kb_conversation_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_conversation
    ADD CONSTRAINT kb_conversation_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.sys_user(id);


--
-- Name: kb_document kb_document_kb_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_document
    ADD CONSTRAINT kb_document_kb_id_fkey FOREIGN KEY (kb_id) REFERENCES public.kb_knowledge_base(id);


--
-- Name: kb_document kb_document_uploader_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_document
    ADD CONSTRAINT kb_document_uploader_id_fkey FOREIGN KEY (uploader_id) REFERENCES public.sys_user(id);


--
-- Name: kb_feedback kb_feedback_qa_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_feedback
    ADD CONSTRAINT kb_feedback_qa_record_id_fkey FOREIGN KEY (qa_record_id) REFERENCES public.kb_qa_record(id);


--
-- Name: kb_feedback kb_feedback_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_feedback
    ADD CONSTRAINT kb_feedback_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.sys_user(id);


--
-- Name: kb_knowledge_base_dept kb_knowledge_base_dept_dept_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base_dept
    ADD CONSTRAINT kb_knowledge_base_dept_dept_id_fkey FOREIGN KEY (dept_id) REFERENCES public.sys_dept(id);


--
-- Name: kb_knowledge_base_dept kb_knowledge_base_dept_kb_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base_dept
    ADD CONSTRAINT kb_knowledge_base_dept_kb_id_fkey FOREIGN KEY (kb_id) REFERENCES public.kb_knowledge_base(id) ON DELETE CASCADE;


--
-- Name: kb_knowledge_base kb_knowledge_base_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_knowledge_base
    ADD CONSTRAINT kb_knowledge_base_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.sys_user(id);


--
-- Name: kb_qa_record kb_qa_record_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kb_qa_record
    ADD CONSTRAINT kb_qa_record_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.sys_user(id);


--
-- Name: sys_role_permission sys_role_permission_permission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_role_permission
    ADD CONSTRAINT sys_role_permission_permission_id_fkey FOREIGN KEY (permission_id) REFERENCES public.sys_permission(id);


--
-- Name: sys_role_permission sys_role_permission_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_role_permission
    ADD CONSTRAINT sys_role_permission_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.sys_role(id);


--
-- Name: sys_user_role sys_user_role_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_user_role
    ADD CONSTRAINT sys_user_role_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.sys_role(id);


--
-- Name: sys_user_role sys_user_role_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sys_user_role
    ADD CONSTRAINT sys_user_role_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.sys_user(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 327v1mpTAqHzIFJq7BLASA9Uk5zeQ9oYnPtBjVd8AFPubEDVRoc7YQKhcY3DulI

